{{! Actividad 2° pre-entrega }}
<h1>Shopping Cart</h1>

<div class="cardContainer">
  {{#each products}}
    <div class="card">
      <p> Product: {{this.product.title}}</p>
      <p> Quantity: {{this.quantity}}</p>
      <p> Price: ${{this.product.price}}</p>

     <button onclick="removeProduct(`{{this.cartId}}`, `{{this.product._id}}`)"
                class="btnCart">Remove Product</button>  
    </div>
  {{/each}}

  <div>
    <button onclick="emptyCart(`{{cartId}}`)" class="btnCart"> Empty Cart </button>
    <p> Total Purchase: ${{totalPurchase}} </p>
  </div>
</div>

<script src="/js/cart.js"></script> 


