{{#if user}}
  <header>
    <p> Welcome {{user.first_name}} {{user.last_name}}</p>
    <p> Role: {{user.role}} </p>
    <form action="/api/users/logout" method="POST">
      <button type="submit" class="btnUser">Log Out</button>
    </form>
  </header>

{{/if}}

<hr />

{{! Actividad desafío4 (Websockets) }}
<h1>Products Available for Sale</h1>

<div class="cardContainer">
  {{#each products}}
    <div class="card">
      <p>Product: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Price: ${{this.price}}</p>

      <form action="/api/carts/{{../cartId}}/product/{{this._id}}" method="POST">
        <button class="btnProduct" type="submit">
          Add Product to Cart
        </button></form>

    </div>
  {{/each}}
</div>

{{! Actividad 2° pre-entrega }}
{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"> Previous </a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"> Next </a>
{{/if}}

<p> Page {{currentPage}} of {{totalPages}} </p>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>