<h2> Welcome {{userDto.full_name}} to your Profile</h2>

<div class="background__container, profile__container">
  <p> <span>Full_name: </span> {{userDto.full_name}} </p>
  <p> <span>Your email: </span> {{userDto.email}}</p>
  <p> <span>Your role: </span> {{userDto.role}}</p>

  <div class="btn__profile">
    {{! Show this link for Admin role }}
    {{#if this.isAdmin}}
      <a class="btn__user" href="/realtimeproducts">Modify Products</a>
      <a class="btn__user" href="/api/users/admin">Admin Panel</a>

    {{else}}
      {{! Premium role specific link }}
      {{#if this.isPremium}}
        <a class="btn__user" href="/realtimeproducts">Modify Products</a>
      {{/if}}

      {{! Redirect user based on role }}
      <a class="btn__user" href="/products">View Products</a>
      <a class="btn__user" href="/chat">Chat Comunity</a>
    {{/if}}
  </div>
</div>

<div>
  <form action="/api/users/logout" method="POST">
    <button type="submit" class="btn__user"> Log Out </button>
  </form>
</div>